<html>
    <head>
        <title>Cancionero Digital - SP&BP</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-DfXdXQvvtu5X6gX9Lpo7qJhD9OqMYsX8ZaMef3+nj0U/n2MdXvcPkiPJShBTEo+g" crossorigin="anonymous">
        
       <style>
            #example td:first-child {
                width: 90%; /* Adjust the width as needed */
            }
            body {
            background-color: #f0ede6fe;
            }
            .navbar {
            background-color: transparent;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add shadow properties here */
            }

        </style>
    </head>
    <body>
        <nav class="navbar navbar-light">
            <a class="navbar-brand" style="font-family:Lobster;font-size: xx-large;" href="{% url 'lista_canciones' %}">Cancionero Digital</a>
        
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'lista_canciones' %}">Lista de canciones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'setlists' %}">SetLists</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#">Ingresar</a>
                    </li> -->
                </ul>
            </div>
        </nav>

        <div class="content container mt-5">
                {% block content %}
                {% endblock %}
            </div>
        </div>         

    </body>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</html>