{% extends 'cancionero/base.html' %}

{% block content %}
<div class="card rounded-lg border-0 shadow-lg position-relative" style="border-radius: 1rem;">

    <div class="card-body ">
    <h4> Listado de setlists</h4>
    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Título</th>
            </tr>
        </thead>
        <tbody>
            {% for setlist in setlists %}
            <tr>
                <td><a href="{% url 'setlist_detalle' pk=setlist.pk %}">{{ setlist.titulo }}</a></td>
            </tr>          
            {% endfor %}
        </tbody>
    </table>
</div>
</div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#example').DataTable();
        });
    </script>


{% endblock %}